# Place here things that need to be executed on direectory entry
# Do not place secrets here, but rather use .env file
# Do not push to git
# If you modify, don't forget to run direnv allow
source_up_if_exists
dotenv_if_exists
source .venv/bin/activate
